*{
    box-sizing:border-box; 
}
/*Now width factors the padding*/
body{
    margin:0px;
}
header{
    background-color:bisque;
    text-align:center;
    padding:25px;
}
.navbar{
    background-color: rgb(252, 191, 100);
    height: 50px;
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}

article{
    width: 40%;
    float: left;
    padding: 10px;
}
footer{
    display: block;
    clear: both;
    background-color:bisque;
    text-align:center;
    padding:25px;
}
@media screen and (max-width:600px){
    aside, section, article{
        width:100%;
    }
    /* If the user is in a mobile screen 
    the width is changed for each element
    to occuppy 100% of the page*/
}